@import "_variables.scss";
@import "GlobalClass.scss";
@import "animations.scss";

.container-categories {
	padding: 15px;
	@include Flexcenter(normal, column, flex-start);
	width: 100%;
	.info-section {
		@include Flexcenter(space-between, column, flex-start);
		margin-left: 5%;
		width: 40%;
		height: 300px;
		h2 {
			font-size: clamp(1em, 2.5vh, 3em);
			color: white;
		}
	}
	.container-imgs-categories {
		width: 100%;
		@include Flexcenter(space-evenly, row, flex-end);

		div {
			max-width: 1150px;
			width:100%;
			margin:10px;
			position:relative;

			img {
				position:relative;
				border-radius: 5px;
				object-fit: cover;
				height: 36rem;
				margin:10px;
				width: 100%;
				transition: all 0.3s;
				@media screen and (min-width:$bigger){
					height:63rem;
					width:95%
				}
			}
			.image-top{
				animation:movingToTop 2s ease-in-out alternate infinite ;
			}
			.image-bottom{
				animation:movingToBottom 2s ease-in-out alternate infinite ;
			}

		}
		#container-moving{
				top:250px;
			}
			
	}
}
