@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.translateAnimationX {
  animation-name: translate-X;
  animation-duration: 2s; }

.translateAnimationY {
  animation-name: translate-Y;
  animation-duration: 1s; }

@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
.hidden-off {
  animation-name: slide;
  animation-duration: 1s; }

.btn {
  cursor: pointer;
  padding: 10px;
  background-color: green;
  color: white;
  margin-top: 10px; }

@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.translateAnimationX {
  animation-name: translate-X;
  animation-duration: 2s; }

.translateAnimationY {
  animation-name: translate-Y;
  animation-duration: 1s; }

@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/imageMain.jpg");
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 795px; }
  .header-section .headerScrolled {
    background-color: white;
    color: black;
    position: fixed; }
    .header-section .headerScrolled .menu-icon {
      color: black; }
  .header-section .headerScrolled .container-navigation nav ul li a {
    color: black; }
  .header-section header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    transition: 0.5s;
    z-index: 2; }
    .header-section header .btn-menu {
      background: none;
      display: none;
      cursor: pointer; }
    .header-section header .logo {
      width: clamp(130px, 25vw, 210px); }
      .header-section header .logo img {
        height: 2rem;
        width: 100%;
        object-fit: cover; }
    @media screen and (max-width: 450px) {
      .header-section header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .header-section header .btn-menu {
          display: block; }
        .header-section header .menu-icon {
          position: absolute;
          margin: 10px 33px; }
          .header-section header .menu-icon:hover {
            color: green; }
        .header-section header .exit-menu {
          color: red;
          margin: 25px; }
        .header-section header .logo {
          text-align: center;
          margin: 10px 33px;
          width: 100%;
          padding: 0px 82px; } }
  .header-section .navigation-off {
    transform: translateX(0%); }
    @media screen and (max-width: 450px) {
      .header-section .navigation-off {
        transform: translateX(-100%); } }
  .header-section .container-navigation {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 1s; }
    .header-section .container-navigation nav {
      width: 100%; }
      .header-section .container-navigation nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%; }
      .header-section .container-navigation nav ul > li {
        padding: 20px 0px;
        border: 3px solid #fff0; }
        .header-section .container-navigation nav ul > li:hover {
          transition: 0.3s;
          border-top-color: green; }
        .header-section .container-navigation nav ul > li a {
          color: white; }
    @media screen and (max-width: 450px) {
      .header-section .container-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: white;
        left: 0;
        top: 0;
        min-height: 100vh; }
        .header-section .container-navigation nav ul {
          margin: 25px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          .header-section .container-navigation nav ul li {
            border: none; }
            .header-section .container-navigation nav ul li:hover {
              color: green; }
            .header-section .container-navigation nav ul li a {
              color: black; } }
  .header-section .division {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .header-section .division hr {
      border: 1px solid #f7f7f7a3;
      width: 85%;
      margin: 10px 0px; }
  .header-section main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-image: linear-gradient(to top, #000000, #000000b8, #00000000);
    width: 100%;
    height: 100%; }
    .header-section main .social-medias {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 15px; }
      .header-section main .social-medias a {
        font-size: clamp(1em, 1.5vw, 2em);
        margin: 20px; }
        .header-section main .social-medias a .displayBigger {
          display: none; }
      .header-section main .social-medias i {
        cursor: pointer;
        color: white;
        margin: 10px; }
        .header-section main .social-medias i:hover {
          transition: 0.3s;
          color: green; }
    .header-section main .container-headers {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      transition: opacity 1s;
      width: 47%;
      height: 50%;
      margin: 30px; }
      .header-section main .container-headers h1 {
        font-size: clamp(2em, 3.5vw, 4em); }
      .header-section main .container-headers h3 {
        color: #ffffffbf; }
      .header-section main .container-headers button {
        cursor: pointer;
        padding: 10px;
        background-color: green;
        color: white; }
        @media screen and (min-width: 1500px) {
          .header-section main .container-headers button {
            padding: 20px;
            font-size: 2em; } }
      @media screen and (max-width: 600px) {
        .header-section main .container-headers {
          width: 100%; } }
  @media screen and (min-width: 1500px) {
    .header-section {
      height: 1200px; } }

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-top: 30px;
  background-color: black;
  width: 100%;
  padding: 15px; }
@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .about-us .translateAnimationX {
    animation-name: translate-X;
    animation-duration: 2s; }
  .about-us .translateAnimationY {
    animation-name: translate-Y;
    animation-duration: 1s; }
@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
  .about-us .hidden-off {
    animation-name: slide;
    animation-duration: 1s; }
  .about-us .btn {
    cursor: pointer;
    padding: 10px;
    background-color: green;
    color: white;
    margin-top: 10px; }
@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .about-us .translateAnimationX {
    animation-name: translate-X;
    animation-duration: 2s; }
  .about-us .translateAnimationY {
    animation-name: translate-Y;
    animation-duration: 1s; }
@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
  .about-us .container-img {
    max-width: 450px;
    min-width: 300px; }
    @media screen and (max-width: 850px) {
      .about-us .container-img {
        width: 350px; } }
  .about-us img {
    width: 100%;
    padding: 10px; }
  .about-us article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 40%;
    height: 69%;
    color: white; }
    .about-us article span {
      font-weight: bold;
      margin: 30px 0px;
      font-size: clamp(0.5em, 2vh, 1em); }
    .about-us article h2 {
      font-size: clamp(1em, 3vh, 3em); }
    .about-us article .information {
      color: #b5b5b5;
      font-weight: 200; }
  @media screen and (max-width: 600px) {
    .about-us {
      flex-direction: column; }
      .about-us article {
        width: 61%; } }

@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.translateAnimationX {
  animation-name: translate-X;
  animation-duration: 2s; }

.translateAnimationY {
  animation-name: translate-Y;
  animation-duration: 1s; }

@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
.hidden-off {
  animation-name: slide;
  animation-duration: 1s; }

.btn {
  cursor: pointer;
  padding: 10px;
  background-color: green;
  color: white;
  margin-top: 10px; }

@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.translateAnimationX {
  animation-name: translate-X;
  animation-duration: 2s; }

.translateAnimationY {
  animation-name: translate-Y;
  animation-duration: 1s; }

@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
.container-divs {
  margin-top: 10%;
  background-color: #100d0d;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .container-divs .container-trip-planer {
    transition: opacity 1s;
    margin-top: 50px;
    color: white;
    width: 100%; }
    .container-divs .container-trip-planer .planer-info {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 100%;
      height: 18em;
      padding: 0px 10px; }
      .container-divs .container-trip-planer .planer-info div {
        width: 20em;
        padding: 0px 23px; }
        .container-divs .container-trip-planer .planer-info div h2 {
          font-size: clamp(1em, 2.5vh, 3em);
          text-align: justify;
          margin-bottom: 20px; }
      .container-divs .container-trip-planer .planer-info p {
        width: 36%; }
      @media screen and (max-width: 600px) {
        .container-divs .container-trip-planer .planer-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 20em; }
          .container-divs .container-trip-planer .planer-info p {
            width: 100%;
            padding: 0px 23px; } }
    .container-divs .container-trip-planer .carousel-imgs {
      width: 100%;
      overflow: hidden; }
      .container-divs .container-trip-planer .carousel-imgs .container-imgs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 600px;
        overflow-x: hidden;
        scroll-behavior: smooth; }
        .container-divs .container-trip-planer .carousel-imgs .container-imgs .img-travel {
          border-radius: 5px;
          position: relative;
          margin: 10px;
          min-width: 290px;
          height: 400px;
          background-color: white;
          transition: transform 0.5s;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
          .container-divs .container-trip-planer .carousel-imgs .container-imgs .img-travel div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            transition: all 0.2s;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, #000000c4, #00000059, #00000000); }
            .container-divs .container-trip-planer .carousel-imgs .container-imgs .img-travel div .seasons {
              font-size: 0.8em;
              color: #ffffffb0; }
            .container-divs .container-trip-planer .carousel-imgs .container-imgs .img-travel div .location {
              margin: 10px;
              text-align: center;
              font-size: clamp(0.5em, 2vh, 1.2em); }
          @media screen and (max-width: 600px) {
            .container-divs .container-trip-planer .carousel-imgs .container-imgs .img-travel {
              min-width: 250px;
              height: 350px; } }
          @media screen and (max-width: 450px) {
            .container-divs .container-trip-planer .carousel-imgs .container-imgs .img-travel {
              min-width: 200px;
              height: 300px; } }
        .container-divs .container-trip-planer .carousel-imgs .container-imgs .selected {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          transform: scale(1.3);
          z-index: 1; }
        .container-divs .container-trip-planer .carousel-imgs .container-imgs .selected > div {
          background-image: linear-gradient(to top, #000000c4, #00000000, #00000000); }
        .container-divs .container-trip-planer .carousel-imgs .container-imgs #img-1 {
          left: 0%; }
  .container-divs .container-blog {
    margin-top: 50px;
    width: 100%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%; }
    .container-divs .container-blog h1 {
      color: white;
      font-size: clamp(0.5em, 2vh, 1.2em);
      text-align: center; }
    .container-divs .container-blog p {
      color: #ffffffb0; }
    .container-divs .container-blog div {
      margin-top: 5em;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: center; }
      .container-divs .container-blog div section {
        margin: 0; }
      .container-divs .container-blog div .comments-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        max-width: 500px;
        width: 50%;
        min-width: 200px;
        margin: 0px 25px; }
        .container-divs .container-blog div .comments-section .comment {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: normal;
          transition: all 0.3s;
          cursor: pointer;
          margin: 10px;
          height: 150px; }
          .container-divs .container-blog div .comments-section .comment .set-comment {
            visibility: hidden;
            background-color: green;
            width: 10px;
            padding: 5px; }
          .container-divs .container-blog div .comments-section .comment div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: normal;
            margin: 0;
            padding: 14px;
            width: 100%;
            height: 100%; }
            .container-divs .container-blog div .comments-section .comment div span {
              color: #ffffffb0; }
            .container-divs .container-blog div .comments-section .comment div p {
              color: white;
              line-height: 25px; }
            .container-divs .container-blog div .comments-section .comment div hr {
              border: 1px solid #ffffff3d; }
        .container-divs .container-blog div .comments-section .comment-select {
          background-color: white; }
          .container-divs .container-blog div .comments-section .comment-select .set-comment {
            visibility: visible; }
          .container-divs .container-blog div .comments-section .comment-select div span {
            color: #0a0a0ab0; }
          .container-divs .container-blog div .comments-section .comment-select div p {
            color: black; }
          .container-divs .container-blog div .comments-section .comment-select div hr {
            border: 1px solid black; }
      .container-divs .container-blog div .info-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 500px; }
        .container-divs .container-blog div .info-img h1 {
          margin: 20px; }
        .container-divs .container-blog div .info-img img {
          max-width: 1000px;
          width: 100%;
          min-width: 320px; }
      @media screen and (max-width: 850px) {
        .container-divs .container-blog div {
          flex-direction: column; }
          .container-divs .container-blog div .comments-section {
            margin-top: 10%;
            flex-direction: row;
            max-width: none;
            width: 100vw; }
            .container-divs .container-blog div .comments-section .comment {
              align-items: center;
              height: 219px; }
              .container-divs .container-blog div .comments-section .comment div {
                padding: 10px; }
          .container-divs .container-blog div .info-img {
            width: 100%; } }
      @media screen and (max-width: 600px) {
        .container-divs .container-blog div .comments-section {
          margin: 0;
          flex-direction: column;
          width: 100%; }
          .container-divs .container-blog div .comments-section .comment {
            align-items: center;
            height: auto; } }

@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.translateAnimationX {
  animation-name: translate-X;
  animation-duration: 2s; }

.translateAnimationY {
  animation-name: translate-Y;
  animation-duration: 1s; }

@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
.hidden-off {
  animation-name: slide;
  animation-duration: 1s; }

.btn {
  cursor: pointer;
  padding: 10px;
  background-color: green;
  color: white;
  margin-top: 10px; }

@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.translateAnimationX {
  animation-name: translate-X;
  animation-duration: 2s; }

.translateAnimationY {
  animation-name: translate-Y;
  animation-duration: 1s; }

@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
.container-categories {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  width: 100%; }
  .container-categories .info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 5%;
    width: 40%;
    height: 300px; }
    .container-categories .info-section h2 {
      font-size: clamp(1em, 2.5vh, 3em);
      color: white; }
  .container-categories .container-imgs-categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end; }
    .container-categories .container-imgs-categories div {
      max-width: 1150px;
      width: 100%;
      margin: 10px;
      position: relative; }
      .container-categories .container-imgs-categories div img {
        position: relative;
        border-radius: 5px;
        object-fit: cover;
        height: 36rem;
        margin: 10px;
        width: 100%;
        transition: all 0.3s; }
        @media screen and (min-width: 1500px) {
          .container-categories .container-imgs-categories div img {
            height: 63rem;
            width: 95%; } }
      .container-categories .container-imgs-categories div .image-top {
        animation: movingToTop 2s ease-in-out alternate infinite; }
      .container-categories .container-imgs-categories div .image-bottom {
        animation: movingToBottom 2s ease-in-out alternate infinite; }
    .container-categories .container-imgs-categories #container-moving {
      top: 250px; }

@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.translateAnimationX {
  animation-name: translate-X;
  animation-duration: 2s; }

.translateAnimationY {
  animation-name: translate-Y;
  animation-duration: 1s; }

@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
.hidden-off {
  animation-name: slide;
  animation-duration: 1s; }

.btn {
  cursor: pointer;
  padding: 10px;
  background-color: green;
  color: white;
  margin-top: 10px; }

@keyframes slide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.translateAnimationX {
  animation-name: translate-X;
  animation-duration: 2s; }

.translateAnimationY {
  animation-name: translate-Y;
  animation-duration: 1s; }

@keyframes translate-X {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }
@keyframes translate-Y {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }
@keyframes movingToTop {
  from {
    top: 0px; }
  to {
    top: 10px; } }
@keyframes movingToBottom {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }
#contact {
  background-image: url("../images/pexels-pixabay-39691.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  #contact main {
    background-image: linear-gradient(to bottom, #000000, #000000, #0000007a);
    width: 100%;
    height: 100%; }
    #contact main .say-hello {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 300px;
      text-align: center; }
      #contact main .say-hello h2 {
        font-size: clamp(1em, 2.5vw, 2em); }
      #contact main .say-hello div input {
        outline: none;
        background: none;
        color: white; }
      #contact main .say-hello div hr {
        border: 1px solid green; }
    #contact main .container-links {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      margin: 30px 0px; }
      #contact main .container-links .info-enterprise {
        width: 30%; }
        #contact main .container-links .info-enterprise p {
          margin: 10px 0px; }
          #contact main .container-links .info-enterprise p span {
            color: green; }
      #contact main .container-links .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #contact main .container-links .links li {
          margin: 10px 0px;
          text-align: center; }
        #contact main .container-links .links a {
          color: #b5b5b5; }
      @media screen and (max-width: 600px) {
        #contact main .container-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          #contact main .container-links .info-enterprise {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%; }
          #contact main .container-links .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px; } }

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: black; }

button {
  cursor: pointer;
  padding: 10px;
  background-color: green;
  color: white; }
  @media screen and (min-width: 1500px) {
    button {
      padding: 20px;
      font-size: 2em; } }

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%; }
  .container-main section {
    margin-top: 10%; }

.hidden-section {
  opacity: 0; }

a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: clamp(0.5em, 1vw, 1.7em); }

ul {
  list-style: none; }

h1, h2, h3 {
  color: white; }

h1,
h2,
h3,
a {
  font-family: "Poppins", sans-serif; }

p {
  line-height: 30px;
  text-align: justify;
  font-size: clamp(0.8em, 2vw, 1.3em);
  color: #b5b5b5;
  font-weight: 200; }

img {
  border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
